body {

    color: #f7f7f7;
}

.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
}

form p {
    padding-left: 20%;
    font-size: x-large;
}

.col-md-7 {
    padding-left: 10%;
}

.col-md-2 {
    padding-left: 7%;
}

button {
    padding: 4px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 40px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}